#SPDX-License-Identifier: MIT-0
---
# tasks file for bginfo
- name: Check if we're restoring from backup
  ansible.builtin.set_fact:
    is_restore: "{{ ca_backup_source is defined and ca_backup_source | length > 0 }}"

- name: Copy CA Certificate to Windows CA (if restoring from backup)
  win_copy:
    src: "{{ ca_backup_source }}" 
    dest: "{{ ca_backup_destination }}"
  when: is_restore | bool

- name: Ensure ADCS-Cert-Authority is installed
  win_feature:
    name: ADCS-Cert-Authority
    state: present
    include_management_tools: true

- name: Ensure ADCS-Cert-Authority-Web-Enrollment is installed
  win_feature:
    name: ADCS-Web-Enrollment
    state: present

- name: Run the ADCS install script
  ansible.windows.win_powershell: 
    script: "{{ lookup('file', 'files/install_ca.ps1') }}"
    parameters:
      cert_file_password: "{{ ca_backup_password | default('') }}"  
      cert_file_path: "{{ ca_backup_destination if is_restore | bool else '' }}"
      ca_common_name: "{{ ca_common_name | default('placebo-pharma-CA-01') }}"
    error_action: stop 
  register: ca_result

- debug: var=ca_result
  when: debug

- name: Remove CA certificate from the server
  ansible.windows.win_file:
    path: "{{ ca_backup_destination }}"
    state: absent
  when: is_restore | bool 

- name: Enable Web enrollement
  ansible.windows.win_powershell:
    script: "{{ lookup('file', 'files/install_web.ps1') }}"
    error_action: stop
  register: web_result

- debug: var=web_result
  when: debug