<cert>
	<refid>67c74d290a88d</refid>
	<descr><![CDATA[Placebo Pharma Inc.]]></descr>
	<crt>{{ public_key | b64encode }}</crt>
	<prv>{{ private_key | b64encode }}</prv>
	<caref>67c74cb233afa</caref>
</cert>