<gateways>
    <gateway_item>
        <interface>wan</interface>
        <gateway>dynamic</gateway>
        <name>WAN_DHCP</name>
        <weight>1</weight>
        <ipprotocol>inet</ipprotocol>
        <descr><![CDATA[Interface WAN_DHCP Gateway]]></descr>
        <gw_down_kill_states></gw_down_kill_states>
    </gateway_item>
{% if interfaces.public.ipv6_type != 'none' %}
    <gateway_item>
        <interface>wan</interface>
        <gateway>dynamic</gateway>
        <name>WAN_DHCP6</name>
        <weight>1</weight>
        <ipprotocol>inet6</ipprotocol>
        <descr><![CDATA[Interface WAN_DHCP6 Gateway]]></descr>
        <gw_down_kill_states></gw_down_kill_states>
    </gateway_item>
{% endif %}
</gateways>
<interfaces>
    <wan>
        <enable></enable>
        <if>{{ interfaces.public.interface }}</if>
        <ipaddr>dhcp</ipaddr>
        <dhcphostname></dhcphostname>
        <mediaopt></mediaopt>
{% if interfaces.public.ipv6_type == 'dhcp6' %}
        <ipaddrv6>dhcp6</ipaddrv6>
        <dhcp6-duid></dhcp6-duid>
        <dhcp6-ia-pd-len>{{ interfaces.public.ipv6_prefixlen | default(0) }}</dhcp6-ia-pd-len>
{% elif interfaces.public.ipv6_type == 'slaac' %}
        <ipaddrv6>slaac</ipaddrv6>
        <dhcp6-duid></dhcp6-duid>
        <dhcp6-ia-pd-len>0</dhcp6-ia-pd-len>
{% elif interfaces.public.ipv6_type == 'static' and interfaces.public.ipv6_address %}
        <ipaddrv6>{{ interfaces.public.ipv6_address }}</ipaddrv6>
        <subnetv6>{{ interfaces.public.ipv6_prefixlen | default(64) }}</subnetv6>
        <dhcp6-duid></dhcp6-duid>
        <dhcp6-ia-pd-len>0</dhcp6-ia-pd-len>
{% else %}
        <dhcp6-duid></dhcp6-duid>
        <dhcp6-ia-pd-len>0</dhcp6-ia-pd-len>
{% endif %}
        <descr><![CDATA[{{ interfaces.public.descr }}]]></descr>
        <spoofmac></spoofmac>
    </wan>
    <lan>
        <descr><![CDATA[{{ interfaces.lan.descr }}]]></descr>
        <if>{{ interfaces.lan.interface }}</if>
        <enable></enable>
        <spoofmac></spoofmac>
        <ipaddr>{{ interfaces.lan.ipv4_address }}</ipaddr>
        <subnet>{{ interfaces.lan.ipv4_prefixlen }}</subnet>
{% if interfaces.lan.ipv6_type == 'static' and interfaces.lan.ipv6_address %}
        <ipaddrv6>{{ interfaces.lan.ipv6_address }}</ipaddrv6>
        <subnetv6>{{ interfaces.lan.ipv6_prefixlen | default(64) }}</subnetv6>
{% elif interfaces.lan.ipv6_type == 'dhcp6' %}
        <ipaddrv6>dhcp6</ipaddrv6>
        <subnetv6>{{ interfaces.lan.ipv6_prefixlen | default(64) }}</subnetv6>
{% elif interfaces.lan.ipv6_type == 'slaac' %}
        <ipaddrv6>slaac</ipaddrv6>
        <subnetv6>{{ interfaces.lan.ipv6_prefixlen | default(64) }}</subnetv6>
{% endif %}
    </lan>
    <opt1>
        <descr><![CDATA[{{ interfaces.corp.descr }}]]></descr>
        <if>{{ interfaces.corp.interface }}</if>
        <enable></enable>
        <spoofmac></spoofmac>
        <ipaddr>{{ interfaces.corp.ipv4_address }}</ipaddr>
        <subnet>{{ interfaces.corp.ipv4_prefixlen }}</subnet>
{% if interfaces.corp.ipv6_type == 'static' and interfaces.corp.ipv6_address %}
        <ipaddrv6>{{ interfaces.corp.ipv6_address }}</ipaddrv6>
        <subnetv6>{{ interfaces.corp.ipv6_prefixlen | default(64) }}</subnetv6>
{% elif interfaces.corp.ipv6_type == 'dhcp6' %}
        <ipaddrv6>dhcp6</ipaddrv6>
        <subnetv6>{{ interfaces.corp.ipv6_prefixlen | default(64) }}</subnetv6>
{% elif interfaces.corp.ipv6_type == 'slaac' %}
        <ipaddrv6>slaac</ipaddrv6>
        <subnetv6>{{ interfaces.corp.ipv6_prefixlen | default(64) }}</subnetv6>
{% endif %}
    </opt1>
    <opt2>
        <descr><![CDATA[{{ interfaces.dmz.descr }}]]></descr>
        <if>{{ interfaces.dmz.interface }}</if>
        <enable></enable>
        <spoofmac></spoofmac>
        <ipaddr>{{ interfaces.dmz.ipv4_address }}</ipaddr>
        <subnet>{{ interfaces.dmz.ipv4_prefixlen }}</subnet>
{% if interfaces.dmz.ipv6_type == 'static' and interfaces.dmz.ipv6_address %}
        <ipaddrv6>{{ interfaces.dmz.ipv6_address }}</ipaddrv6>
        <subnetv6>{{ interfaces.dmz.ipv6_prefixlen | default(64) }}</subnetv6>
{% elif interfaces.dmz.ipv6_type == 'dhcp6' %}
        <ipaddrv6>dhcp6</ipaddrv6>
        <subnetv6>{{ interfaces.dmz.ipv6_prefixlen | default(64) }}</subnetv6>
{% elif interfaces.dmz.ipv6_type == 'slaac' %}
        <ipaddrv6>slaac</ipaddrv6>
        <subnetv6>{{ interfaces.dmz.ipv6_prefixlen | default(64) }}</subnetv6>
{% endif %}
    </opt2>
</interfaces>
<virtualip>
    <vip>
        <mode>ipalias</mode>
        <interface>opt2</interface>
        <uniqid>67c76b8152c96</uniqid>
        <descr><![CDATA[Loopback interface for pfSense Web GUI on DMZ]]></descr>
        <type>single</type>
        <subnet_bits>{{ interfaces.dmz.ipv4_prefixlen }}</subnet_bits>
        <subnet>{{ team_address.firewall_vip }}</subnet>
    </vip>
</virtualip>