#TODO: #31 Cleanup copied files on DC & Clear logs of powershell and ansible
---
- name: Automated Setup of Active Directory Users and Groups
  hosts: windows3
  gather_facts: false
  vars:
    ansible_user: "administrator@{{ adserver_domain3 }}"
  vars_files:
    - "../../team_common.yaml"

  tasks:
    - name: Set DNS Forwarders on Domain Controllers
      ansible.builtin.include_role:
        name: dns.forwarder
      vars:
        dns_forwarders: "{{ public_dns_forwarders }}"
      when: "'dc-03' in hostname or 'ca-03' in hostname"

    - name: Set DC Client DNS Servers
      ansible.windows.win_dns_client:
        adapter_names: "*"
        dns_servers:
          - "{{ team_address.windows_dc3 }}"
          - "{{ team_address.windows_ca3 }}"
      when: "'dc-03' in hostname"

    - name: Set CA Client DNS Servers
      ansible.windows.win_dns_client:
        adapter_names: "*"
        dns_servers:
          - "{{ team_address.windows_ca3 }}"
          - "{{ team_address.windows_dc3 }}"
      when: "'ca-03' in hostname"

    - name: Set Workstation Client DNS Servers
      ansible.windows.win_dns_client:
        adapter_names: "*"
        dns_servers:
          - "{{ team_address.windows_dc3 }}"
          - "{{ team_address.windows_ca3 }}"
      when: "'win-03' in hostname"