version: v3
teleport:
  nodename: database
  data_dir: /var/lib/teleport
  join_params:
    token_name: "{{ join_token }}"
    method: token
  proxy_server: "{{ teleport_server_dns_address }}:443"
  log:
    output: stderr
    severity: INFO
    format:
      output: text
  ca_pin: ""
  diag_addr: ""
auth_service:
  enabled: "no"
ssh_service:
  enabled: "yes"
  labels:
    service: database
  commands:
    - name: hostname
      command: [hostname]
      period: 1m0s
proxy_service:
  enabled: "no"
  https_keypairs: []
  https_keypairs_reload_interval: 0s
  acme: {}
app_service:
  enabled: yes
  apps:
    - name: influxdb
      uri: "https://localhost:8086"
      insecure_skip_verify: true
      labels:
        service: influxdb
