---
- hosts: all
  gather_facts: false

  tasks:
    - name: Install Feature RSAT Tools
      ansible.windows.win_feature:
        name:
          - RSAT-Role-Tools
          - GPMC
        state: present
        include_sub_features: true
        include_management_tools: true
      ignore_errors: true #tammy

    - name: Ensure Chocolatey itself is installed, using community repo for the bootstrap
      win_chocolatey:
        name: chocolatey
        version: '1.4.0'
        state: present
        force: yes

    - name: Install microsoft-edge-insider
      chocolatey.chocolatey.win_chocolatey:
        name: microsoft-edge-insider
        state: present

    - name: Install Feature RSAT Tools
      ansible.windows.win_feature:
        name:
          - RSAT-AD-Tools
          - RSAT-DNS-Server
          - RSAT-ADCS
          - GPMC
        state: present
        include_sub_features: true
        include_management_tools: true

    - name: Set OEM layout registry key
      ansible.windows.win_regedit:
        path: HKLM:\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer
        name: LayoutXMLPath
        data: C:\Windows\OEM\TaskbarLayoutModification.xml
        type: string
        state: present

    - name: Create OEM directory
      ansible.windows.win_file:
        path: C:\Windows\OEM\
        state: directory

    - name: Copy TaskbarLayoutModification.xml
      ansible.windows.win_copy:
        src: files/TaskbarLayoutModification.xml
        dest: C:\Windows\OEM\TaskbarLayoutModification.xml

    - name: Add shortcuts to public desktop
      ansible.windows.win_powershell:
        script: "{{ lookup('ansible.builtin.file', 'files/desktop.ps1') }}"

    - name: Install openssh
      win_chocolatey:
        name: openssh
        version: '9.2.2-beta1'
        package_params: /SSHServerFeature
        state: present
        allow_prerelease: yes

    - name: Set the default shell to PowerShell
      win_regedit:
        path: HKLM:\SOFTWARE\OpenSSH
        name: DefaultShell
        data: C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe
        type: string
        state: present
