version: v2
kind: user
metadata:
  name: {{ username }}
spec:
  roles:
{% set roles_list = teleport_roles if teleport_roles is iterable and teleport_roles is not string else (teleport_roles | replace("'", '"') | from_json) %}
{% for role in roles_list %}
    - {{ role }}
{% endfor %}
  traits:
    aws_role_arns: null
    db_names: null
    db_users: null
    kubernetes_groups:
      - {{ k8s_group | default('null') }}
    kubernetes_users:
      - {{ username | default('null') }}
    windows_logins:
      - {{ username | default('null') }}
    logins:
      - {{ username }}
