<aliases>
	<alias>
		<name>FirewallManagement</name>
		<type>port</type>
		<address>22 80 443 8080</address>
		<descr></descr>
		<detail><![CDATA[SSH||HTTP||HTTPS||Alt. HTTPS]]></detail>
	</alias>
	<alias>
		<name>ActiveDirectory</name>
		<type>port</type>
		<address>53 88 123 135 137:139 389 445 464 636 3268:3269 1024:65535 1024:65535</address>
		<descr></descr>
		<detail><![CDATA[DNS||Kerberos||W32Time (NTP)||RPC Endpoint Mapper||SysVol||LDAP||SMB||Kerberos password change||LDAP SSL||LDAP GC (SSL)||FRS RPC (*)||RPC for LSA, SAM, NetLogon (*)]]></detail>
	</alias>
	<alias>
		<name>Private_Networks</name>
		<type>network</type>
		<address>10.0.0.0/8 172.16.0.0/12 192.168.0.0/16</address>
		<descr></descr>
		<detail><![CDATA[Entry added Wed, 05 Mar 2025 16:40:39 -0500||Entry added Wed, 05 Mar 2025 16:40:39 -0500||Entry added Wed, 05 Mar 2025 16:40:39 -0500]]></detail>
	</alias>
</aliases>