---
- name: Setup Teleport
  hosts: teleport
  become: true
  vars:
    teleport_server_dns_address: teleport.chefops.tech
    teleport_server_name: teleport
    users_data: "{{ lookup('file', '../../../../documentation/employee_data/employees.yaml') | from_yaml }}"
    former_employees_data: "{{ lookup('file', '../../../../documentation/employee_data/former_employees.yaml') | from_yaml }}"
  tasks:
    - name: Set a hostname
      ansible.builtin.hostname:
        name: "{{ teleport_server_name }}"
      tags:
        - hostname

    - name: Install EPEL release
      ansible.builtin.dnf:
        name: epel-release
        state: present

    - name: Install packages
      ansible.builtin.dnf:
        name:
          - yum-utils
          - vim
          - htop
          - python3
          - python3-cryptography
          - python3-pip
          - bind-utils
          - oathtool
          - neofetch
        state: present
        update_cache: true

    - name: Download yq
      ansible.builtin.get_url:
        url: 'https://github.com/mikefarah/yq/releases/download/v4.45.1/yq_linux_amd64'
        dest: "/usr/bin/yq"
        mode: '0755'
        owner: root
        group: root

    - name: Setup fish
      ansible.builtin.include_tasks:
        file: "tasks/fish.yaml"
      tags:
        - fish

    - name: Setup blackteam task
      ansible.builtin.include_tasks:
        file: "../../../shared/black_team/main.yaml"
      vars:
        black_team_password: example-password
        shell_override: /usr/bin/fish
        black_team_pub_path: '../../../../documentation/black_team/black-team.pub'
        root_groups: wheel,adm
      tags:
        - black-team

    - name: Enable cockpit
      ansible.builtin.service:
        name: cockpit.socket
        state: started
        enabled: true

    - name: Install Teleport
      ansible.builtin.include_tasks:
        file: "tasks/teleport.yaml"
      tags:
        - teleport

    - name: Create Teleport configurations
      ansible.builtin.include_tasks:
        file: "tasks/teleport_configs.yaml"
      tags:
        - teleport_users
        - teleport_misc

    - name: Create Teleport black-team user
      ansible.builtin.include_tasks:
        file: "tasks/teleport_user.yaml"
      vars:
        username: black-team
        password: example-password
        teleport_roles:
          - access
          - editor
      tags:
        - black-team
        - teleport_users

    - name: Create admin user
      ansible.builtin.include_tasks:
        file: "tasks/teleport_user.yaml"
      vars:
        username: admin
        password: example-password
        teleport_roles:
          - access
          - editor
          - kube-admin
          - system-admin
      tags:
        - teleport_users

    - name: Create Teleport join tokens
      vars:
        database: QEZG8CSYCLR8RBAESN
        grafana: R28HKJHU184Y5TJA
        semaphore: 1NQF7FPT9L9ITBLXURU
        falco: D36NUP1F0FTVIUA
        wordpress: 3418J7M2UKCT4Y5PBX
      block:
        - name: Create Teleport join tokens | Database
          ansible.builtin.command:
            cmd: >
              /usr/local/bin/tctl tokens add
                --type node,app
                --app-name Database
                --labels service=database
                --ttl 30d
                --value {{ database }}
          tags:
            - token

        - name: Create Teleport join tokens | grafana
          ansible.builtin.command:
            cmd: >
              /usr/local/bin/tctl tokens add
                --type node,app
                --app-name Grafana
                --labels service=grafana
                --ttl 30d
                --value {{ grafana }}
          tags:
            - token

        - name: Create Teleport join tokens | Semaphore
          ansible.builtin.command:
            cmd: >
              /usr/local/bin/tctl tokens add
                --type node,app
                --app-name Semaphore
                --labels service=semaphore
                --ttl 30d
                --value {{ semaphore }}
          tags:
            - token

        - name: Create Teleport join tokens | Falco
          ansible.builtin.command:
            cmd: >
              /usr/local/bin/tctl tokens add
                --type node,app
                --app-name Falco
                --labels service=falco
                --ttl 30d
                --value {{ falco }}
          tags:
            - token

        - name: Create Teleport join tokens | Wordpress
          ansible.builtin.command:
            cmd: >
              /usr/local/bin/tctl tokens add
                --type node,app
                --app-name Wordpress
                --labels service=wordpress
                --ttl 30d
                --value {{ wordpress }}
          tags:
            - token

    - name: Loop through users and create groups
      ansible.builtin.group:
        name: "{{ item | regex_replace(' ', '-') | lower }}"
        state: present
      with_items:
        - IT
        - compliance
        - users
      tags:
        - users

    - name: Create IT users
      ansible.builtin.user:
        name: "{{ item.username | regex_replace(' ', '.') | lower }}"
        password: "{{ item.password | password_hash('sha512') }}"
        append: true
        groups: "users,it{% if item.position == 'System Administrator' %},wheel,adm{% endif %}"
        shell: '/bin/bash'
        state: present
      when: item.department == "IT"
      with_items: "{{ users_data.users }}"
      tags:
        - users

    - name: Create compliance auditor users
      ansible.builtin.user:
        name: "{{ item.username | regex_replace(' ', '.') | lower }}"
        password: "{{ item.password | password_hash('sha512') }}"
        append: true
        groups: "users,compliance"
        shell: '/bin/bash'
        state: present
      when: item.position == "Auditor"
      with_items: "{{ users_data.users }}"
      tags:
        - users

    - name: Create former system admin employee account
      ansible.builtin.user:
        name: "{{ item.username | regex_replace(' ', '.') | lower }}"
        password: "{{ item.password | password_hash('sha512') }}"
        append: true
        groups: "users,it,wheel,adm"
        shell: '/bin/bash'
        state: present
      when: item.position == "System Administrator"
      with_items: "{{ former_employees_data.users }}"
      tags:
        - users

    - name: Create former support employee account
      ansible.builtin.user:
        name: "{{ item.username | regex_replace(' ', '.') | lower }}"
        password: "{{ item.password | password_hash('sha512') }}"
        append: true
        groups: "users,it"
        shell: '/bin/bash'
        state: present
      when: item.position == "Support"
      with_items: "{{ former_employees_data.users }}"
      tags:
        - users

    - name: Create Teleport IT users
      ansible.builtin.include_tasks:
        file: "tasks/teleport_user.yaml"
      vars:
        username: "{{ item.username | regex_replace(' ', '.') | lower }}"
        # Teleport has a minimum password requirement of 12 characters, so we pad the password with 0s
        password: "{{ item.password }}{{ '0' * (12 - item.password | length) }}"
        teleport_roles: >
          [
            'employee'
            {% if item.position == 'Database Engineer' %}, 'influxdb-admin'{% endif %}
            {% if item.position == 'System Administrator' %}, 'system-admin', 'windows-admin', 'kube-admin'{% else %}, 'windows'{% endif %}
            {% if item.position == 'Technical Support Manager' %}, 'access', 'editor'{% endif %}
            {% if item.position == 'Security Engineer' %}, 'grafana-admin', 'kubernetes'{% endif %}
            {% if item.position == 'SOC Analyst' %}, 'grafana-admin', 'kubernetes'{% else %}, 'grafana', 'monitoring'{% endif %}
            {% if item.position == 'Operations Security' %}, 'kube-admin'{% endif %}
          ]
      when: item.department == "IT"
      with_items: "{{ users_data.users }}"
      tags:
        - teleport_users

    - name: Create Teleport data science users
      ansible.builtin.include_tasks:
        file: "tasks/teleport_user.yaml"
      vars:
        username: "{{ item.username | regex_replace(' ', '.') | lower }}"
        # Teleport has a minimum password requirement of 12 characters, so we pad the password with 0s
        password: "{{ item.password }}{{ '0' * (12 - item.password | length) }}"
        teleport_roles:
          - employee
          - influxdb
          - monitoring
          - windows
      when: item.position == "Data Scientist"
      with_items: "{{ users_data.users }}"
      tags:
        - teleport_users

    - name: Create Teleport compliance auditor users
      ansible.builtin.include_tasks:
        file: "tasks/teleport_user.yaml"
      vars:
        username: "{{ item.username | regex_replace(' ', '.') | lower }}"
        # Teleport has a minimum password requirement of 12 characters, so we pad the password with 0s
        password: "{{ item.password }}{{ '0' * (12 - item.password | length) }}"
        teleport_roles:
          - employee
          - grafana
          - kubernetes
      when: item.department == "Compliance"
      with_items: "{{ users_data.users }}"
      tags:
        - users

    - name: Create Teleport CTO
      ansible.builtin.include_tasks:
        file: "tasks/teleport_user.yaml"
      vars:
        username: "{{ item.username | regex_replace(' ', '.') | lower }}"
        # Teleport has a minimum password requirement of 12 characters, so we pad the password with 0s
        password: "{{ item.password }}{{ '0' * (12 - item.password | length) }}"
        teleport_roles:
          - employee
          - access
          - windows-admin
          - kubernetes
      when: item.position == "CTO"
      with_items: "{{ users_data.users }}"
      tags:
        - teleport_users


    - name: Create Teleport former IT users
      ansible.builtin.include_tasks:
        file: "tasks/teleport_user.yaml"
      vars:
        username: "{{ item.username | regex_replace(' ', '.') | lower }}"
        # Teleport has a minimum password requirement of 12 characters, so we pad the password with 0s
        password: "{{ item.password }}{{ '0' * (12 - item.password | length) }}"
        teleport_roles: >
          [
            'employee'
            {% if item.position == 'Database Engineer' %}, 'influxdb-admin'{% endif %}
            {% if item.position == 'System Administrator' %}, 'system-admin', 'windows-admin', 'kube-admin'{% else %}, 'windows'{% endif %}
            {% if item.position == 'Technical Support Manager' %}, 'access', 'editor'{% endif %}
            {% if item.position == 'Security Engineer' %}, 'grafana-admin', 'kubernetes'{% endif %}
            {% if item.position == 'SOC Analyst' %}, 'grafana-admin', 'kubernetes'{% else %}, 'grafana', 'monitoring'{% endif %}
            {% if item.position == 'Operations Security' %}, 'kube-admin'{% endif %}
          ]
      when: item.department == "IT"
      with_items: "{{ former_employees_data.users }}"
      tags:
        - teleport_users

    - name: Create Teleport former data science users
      ansible.builtin.include_tasks:
        file: "tasks/teleport_user.yaml"
      vars:
        username: "{{ item.username | regex_replace(' ', '.') | lower }}"
        # Teleport has a minimum password requirement of 12 characters, so we pad the password with 0s
        password: "{{ item.password }}{{ '0' * (12 - item.password | length) }}"
        teleport_roles:
          - employee
          - influxdb
          - monitoring
          - windows
      when: item.position == "Data Scientist"
      with_items: "{{ former_employees_data.users }}"
      tags:
        - teleport_users
