---
- hosts: all
  gather_facts: false

  tasks:
    - name: Install Feature RSAT Tools
      ansible.windows.win_feature:
        name:
          - RSAT-AD-Tools
          - GPMC
        state: present
        include_sub_features: true
        include_management_tools: true
      ignore_errors: true #tammy

    #tammy
    - name: install RSAT AD tools on workstation
      ansible.windows.win_shell:
        Add-WindowsCapability -Online -Name RSAT.ActiveDirectory.DS-LDS.Tools~~~~0.0.1.0
      #assuming you are Administrator
      args:
        executable: powershell
      ignore_errors: true
    
    #tammy
    - name: install GPMC on workstation
      ansible.windows.win_shell:
        Add-WindowsCapability -Online -Name RSAT.GroupPolicy.Management.Tools~~~~0.0.1.0
      #assuming you are Administrator
      args:
        executable: powershell
      ignore_errors: true

    - name: Ensure Chocolatey itself is installed, using community repo for the bootstrap
      win_chocolatey:
        name: chocolatey

    - name: Install Chocolatey packages
      chocolatey.chocolatey.win_chocolatey:
        name:
          - googlechrome
          - firefox
          - 7zip
          - vlc
          - notepadplusplus
          - winscp
          - git
          - python
          - microsoft-edge-insider
          - r.studio
          - putty

    - name: Set OEM layout registry key
      ansible.windows.win_regedit:
        path: HKLM:\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer
        name: LayoutXMLPath
        data: C:\Windows\OEM\TaskbarLayoutModification.xml
        type: string
        state: present

    - name: Create OEM directory
      ansible.windows.win_file:
        path: C:\Windows\OEM\
        state: directory

    - name: Copy TaskbarLayoutModification.xml
      ansible.windows.win_copy:
        src: files/TaskbarLayoutModification.xml
        dest: C:\Windows\OEM\TaskbarLayoutModification.xml

    - name: Add shortcuts to public desktop
      ansible.windows.win_powershell:
        script: "{{ lookup('ansible.builtin.file', 'files/desktop.ps1') }}"

    - name: Install openssh
      win_chocolatey:
        name: openssh
        version: '9.2.2-beta1'
        package_params: /SSHServerFeature
        state: present
        allow_prerelease: yes

    - name: Set the default shell to PowerShell
      win_regedit:
        path: HKLM:\SOFTWARE\OpenSSH
        name: DefaultShell
        data: C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe
        type: string
        state: present